
#outline {
    height: 100vh;
    width: 100%;
    border: solid 5px black;
}

#content {
    height: 100%;
    border: solid 5px green;
}

#inner-content {
    width: 500px;
    margin: auto;
}

#games {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#games img {
    width: 300px;
    height: auto;
}

#games img:hover {
    transform: scale(1.1);
}